.pr-5 {
	padding-right: 5px !important;
}
.pr-10 {
	padding-right: 10px !important;
}
.p-rm {
	padding: 0 !important;
}
.pb-rm {
	padding-bottom: 0 !important;
}
.mr-5 {
	margin-right: 5px !important;
}
.mr-10 {
	margin-right: 10px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.text-error {
	color: #ff0000;
}
.text-left {
	text-align: left !important;
}
