// Variables
@import "variables";
@import "helpers";

* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", Helvetica, sans-serif;
	background-image: url("../images/layout/event_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	@media (min-width: 600px) {
		background-color: #eee;
	}
}
