.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-rm {
  padding-bottom: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background: url(/images/event_bg.jpg?e8c8e414d40cfa23a92bd27f25c25169) no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 600px) {
  body {
    background-color: #eee;
  }
}

strong {
  font-weight: 500;
}

