.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

@media (min-width: 600px) {
  body {
    background-color: #eee;
  }
}

